In [2]:
import pandas as pd
import numpy as np

In [3]:
whole = pd.read_csv("whole.csv", encoding="CP949")

In [1]:
whole.head(20)

NameError: name 'whole' is not defined

In [4]:
np.shape(whole)

(259, 6)

In [19]:
len(whole)

259

In [5]:
#누적 확진자가 아닌 일일 확진자로 변환
for i in range(2,260):
    whole["confirmed"][260-i] = whole["confirmed"][260-i]-whole["confirmed"][259-i]
    if i==259:
        break

In [6]:
#사망자, 완치자에 대해서도 동일하게 시행
for i in range(2,260):
    whole["death"][260-i] = whole["death"][260-i]-whole["death"][259-i]
    if i==259:
        break

In [7]:
for i in range(2,260):
    whole["released"][260-i] = whole["released"][260-i]-whole["released"][259-i]
    if i==259:
        break

In [8]:
#검사자와 음성판정은 매출에 영향을 미치지 않을 것으로 예상돼 column을 삭제
whole = whole.drop(["tested","negative"],axis=1)

In [9]:
whole.head(20)

        date  confirmed  death  released
0   20200121          1      0         0
1   20200122          0      0         0
2   20200123          0      0         0
3   20200124          1      0         0
4   20200125          0      0         0
5   20200126          0      0         0
6   20200127          2      0         0
7   20200128          0      0         0
8   20200129          0      0         0
9   20200130          3      0         0
10  20200131          4      0         0
11  20200201          1      0         0
12  20200202          3      0         0
13  20200203          0      0         0
14  20200204          1      0         0
15  20200205          5      0         1
16  20200206          3      0         1
17  20200207          0      0         0
18  20200208          0      0         0
19  20200209          3      0         1

In [10]:
#지역별 데이터를 불러온다
region = pd.read_csv("region.csv", encoding="CP949")

In [11]:
region.head(20)

        date region  confirmed  death  released
0   20200217     서울         14      0         3
1   20200217     부산          0      0         0
2   20200217     대구          0      0         0
3   20200217     인천          1      0         1
4   20200217     광주          2      0         0
5   20200217     대전          0      0         0
6   20200217     울산          0      0         0
7   20200217     세종          0      0         0
8   20200217     경기         11      0         4
9   20200217     강원          0      0         0
10  20200217     충북          0      0         0
11  20200217     충남          0      0         0
12  20200217     전북          1      0         1
13  20200217     전남          1      0         1
14  20200217     경북          0      0         0
15  20200217     경남          0      0         0
16  20200217     제주          0      0         0
17  20200217     검역          0      0         0
18  20200218     서울         14      0         3
19  20200218     부산          0      0         0

In [12]:
#대전시만 남겨놓고 나머지 데이터들은 전부 삭제
daejeon = region.loc[region["region"]=="대전"]
np.shape(daejeon)

(232, 5)

In [13]:
#row index를 다시 설정
daejeon.index=range(232)
daejeon.head()

       date region  confirmed  death  released
0  20200217     대전          0      0         0
1  20200218     대전          0      0         0
2  20200219     대전          0      0         0
3  20200220     대전          0      0         0
4  20200221     대전          0      0         0

In [14]:
#위와 똑같이 누적 확진자를 일별 확진자로 변환
for i in range(2,233):
    daejeon["confirmed"][233-i] = daejeon["confirmed"][233-i]-daejeon["confirmed"][232-i]
    if i==232:
        break

<ipython-input-14-8c56236fe363>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daejeon["confirmed"][233-i] = daejeon["confirmed"][233-i]-daejeon["confirmed"][232-i]
C:\Users\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
for i in range(2,233):
    daejeon["death"][233-i] = daejeon["death"][233-i]-daejeon["death"][232-i]
    if i==232:
        break

<ipython-input-15-f87c5791ee14>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daejeon["death"][233-i] = daejeon["death"][233-i]-daejeon["death"][232-i]

In [16]:
for i in range(2,233):
    daejeon["released"][233-i] = daejeon["released"][233-i]-daejeon["released"][232-i]
    if i==232:
        break

<ipython-input-16-c10a9df33ad4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daejeon["released"][233-i] = daejeon["released"][233-i]-daejeon["released"][232-i]

In [17]:
#음수제거
neg = daejeon.loc[daejeon.confirmed <0] 
daejeon.loc[daejeon.confirmed.isin(neg), 'Number'] = 0

C:\Users\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [18]:
neg2 = daejeon.loc[daejeon.death <0]
daejeon.loc[daejeon.death.isin(neg), 'Number'] = 0

In [19]:
neg3 = daejeon.loc[daejeon.released <0]
daejeon.loc[daejeon.released.isin(neg), 'Number'] = 0

In [32]:
import os

In [34]:
daejeon.to_csv("C:/Users/이재환/Desktop",sep=",")

PermissionError: [Errno 13] Permission denied: 'C:/Users/이재환/Desktop'