In [2]:
import pandas as pd
import numpy as np

In [9]:
# 구글 트랜드 데이터를 가져옵니다.
Trend = pd.read_csv('./구글트랜드.csv',encoding='CP949')

In [16]:
# 치킨집 현황 데이터를 가져옵니다. (단순히 날짜를 맞춰주기 위함.)
date =  pd.read_csv('./치킨집 현황 데이터.csv',encoding='CP949',header = None)

In [19]:
date.columns = ['날짜']

In [25]:
X_index = date[['날짜']]

In [20]:
X = pd.merge(date, Trend, on='날짜', how='outer')

In [26]:
X = pd.merge(X, X_index, on='날짜') ; X # 이렇게 날짜 index 를 날짜로 합쳐버리면, default merge setting 은 inner 이기 때문에 바로 합쳐진다.

              날짜  구글 검색량
0     2015-10-15     NaN
1     2015-10-16     NaN
2     2015-10-17     NaN
3     2015-10-18    36.0
4     2015-10-19     NaN
...          ...     ...
1804  2020-09-22     NaN
1805  2020-09-23     NaN
1806  2020-09-24     NaN
1807  2020-09-25     NaN
1808  2020-09-26     NaN

[1809 rows x 2 columns]

In [62]:
X.head(15) # 이 때에 보면 중간에 6개의 빈칸이 있음을 알 수 있다.

            날짜  구글 검색량
0   2015-10-15     NaN
1   2015-10-16     NaN
2   2015-10-17     NaN
3   2015-10-18    36.0
4   2015-10-19     NaN
5   2015-10-20     NaN
6   2015-10-21     NaN
7   2015-10-22     NaN
8   2015-10-23     NaN
9   2015-10-24     NaN
10  2015-10-25    27.0
11  2015-10-26     NaN
12  2015-10-27     NaN
13  2015-10-28     NaN
14  2015-10-29     NaN

In [85]:
# 이런식으로 LINSPACE 를 써서 , LINEAR 하게 채워줄것
idx = 1
np.linspace(Trend.loc[idx,'구글 검색량'],Trend.loc[idx+1,'구글 검색량'],7,endpoint=False)

array([36.        , 34.71428571, 33.42857143, 32.14285714, 30.85714286,
       29.57142857, 28.28571429])

In [86]:
w = []
for idx in range(Trend.shape[0]-1) :
    w.extend(np.linspace(Trend.loc[idx,'구글 검색량'],Trend.loc[idx+1,'구글 검색량'],7,endpoint=False))

In [87]:
# w 는 현재 10월 11일 ~ 10월 3일 데이터이다. 그래서 이를 날짜에 따라 보정해주어야 한다. 
len(w)

1820

In [92]:
Trend_imputed = pd.DataFrame( pd.date_range(start='2015-10-11', end='2020-10-03') , columns=['날짜'])

In [96]:
Trend_imputed['구글검색'] = w ; Trend_imputed

             날짜       구글검색
0    2015-10-11  29.000000
1    2015-10-12  30.000000
2    2015-10-13  31.000000
3    2015-10-14  32.000000
4    2015-10-15  33.000000
...         ...        ...
1815 2020-09-29  80.857143
1816 2020-09-30  76.285714
1817 2020-10-01  71.714286
1818 2020-10-02  67.142857
1819 2020-10-03  62.571429

[1820 rows x 2 columns]

In [98]:
Trend_imputed.to_csv('구글트랜드(imputed).csv',encoding = 'CP949')